
$font-family: 'Roboto', sans-serif;
$container-max-width : 450px;
$text_field_height : 44px;

// -----------------color---------------------------
$color_blue : #192786;
$color_red : #CD2126;


// -------------styles---------------------------
$shadow_layouts : 0px 0px 3px rgba(0, 0, 0, 0.25);
$btn_success_background : transparent linear-gradient(270deg, #1258A5 0%, #009FE3 100%) 0% 0% no-repeat padding-box ;

// -------------------text-------------------------------